.titleText-wrapper{
padding: 10px;
}

.titleText-title-wrapper{
    padding-bottom: 15px;
}

.titleText-title-text-wrapper{
    margin-bottom: 25px;
}


.titleText-text-wrapper{
    padding-top: 10px;
}

.titleText-image{
    padding: 10px;
    /* width: 576px; */
    max-height: 250px;
    margin-right: auto;
    margin-left: auto;
}