.nav-link-typography {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #000000;
}

.sidebar-title-typography{
    font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 17px;

color: #000000;
}

.sidebar-link-typography{
    font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;


color: #000000;
}

.main-title-typography{
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.titleText-title-typography{
  font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 17px;
color: #000000;
}

.titleText-text-typography{
  font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 17px;

color: #000000;
}
