<header >
  <div class="header-container">
    <nav class="header-nav">
      <ul class="header-links">
        <% static.header.forEach((headerLink)=>{ %>
        <li>
          <a class="nav-link-typography <%= route.split("/")[1]===headerLink.link ? 'underline' : null%>" href="/<%=headerLink.link%>"
            ><%= headerLink.name %></a
          >
          <% }); %>
        </li>
      </ul>
    </nav>
    <div class="header-icons">
      <div class="header-icon__sfedu">
        <img src="/images/icons/sfedu.png" alt="sfedu" />
      </div>
      <div class="header-icon__ictis">
        <img src="/images/icons/ictis.png" alt="ictis" />
      </div>
    </div>



    
  </div>
</header>
