<div class="block main">
  <main>
    <div class="main-title-wrapper">
      <h2 class="main-title-typography center-text"><%=page.mainTitle %></h2>
    </div>
    <%- include("../components/titleText.ejs") %>
  </main>
</div>
